Repository frmlabz/omnidev: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun run lint
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bun run format:check

feat: format and todos
  TODO.md
  apps/docs/public/favicon/site.webmanifest
  apps/docs/src/components/Section.astro
Due: format

feat(core): add always_disabled and improved omni.local.toml merging
  .changeset/always-disabled-local-config.md
  apps/docs/src/content/docs/configuration/config-files.md
  packages/core/src/config/config.test.ts
  packages/core/src/config/config.ts
  packages/core/src/config/profiles.test.ts
  packages/core/src/config/profiles.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

feat(adapters): add writers for subagents and commands
  .changeset/agents-and-commands-writers.md
  apps/docs/src/content/docs/capabilities/commands.md
  apps/docs/src/content/docs/capabilities/subagents.md
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/opencode/index.ts
  packages/adapters/src/writers/claude-agents.test.ts
  packages/adapters/src/writers/claude-agents.ts
  packages/adapters/src/writers/claude-commands-as-skills.test.ts
  packages/adapters/src/writers/claude-commands-as-skills.ts
  packages/adapters/src/writers/index.ts
  packages/adapters/src/writers/opencode-agents.test.ts
  packages/adapters/src/writers/opencode-agents.ts
  packages/adapters/src/writers/opencode-commands.test.ts
  packages/adapters/src/writers/opencode-commands.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

fix(adapters): use .cursor/skills/ for Cursor provider
  packages/adapters/src/cursor/index.ts
Due: typecheck, lint, format

chore(readme): update readme and contributing
  CONTRIBUTING.md
  README.md
Due: format

fix(adapters): properly write agents, and commands
  .changeset/open-mangos-sniff.md
  README.md
  apps/docs/src/content/docs/capabilities/commands.md
  apps/docs/src/content/docs/capabilities/skills.md
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/codex/index.ts
  packages/adapters/src/writers/claude/commands-as-skills.test.ts
  packages/adapters/src/writers/claude/index.ts
  packages/adapters/src/writers/generic/commands-as-skills.ts
  packages/adapters/src/writers/generic/index.ts
  packages/core/src/capability/commands.test.ts
  packages/core/src/capability/commands.ts
  packages/core/src/capability/skills.ts
  packages/core/src/capability/sources.ts
  packages/core/src/capability/subagents.test.ts
  packages/core/src/capability/subagents.ts
  packages/core/src/capability/wrapping-integration.test.ts
Due: typecheck, lint, format

feat(docs): add guide
  apps/docs/astro.config.mjs
  apps/docs/src/content/docs/guides/migration.md
Due: format

chore: cleanup docs
  .github/ISSUE_TEMPLATE/bug_report.yml
  apps/docs/src/content/docs/guides/migration.md
  docs/provider-adapters.md
  docs/providers-configurations.md
  docs/type-exports-example.md
  docs/versioning-summary.md
Due: format

chore(docs): add migration instructions and skill
  README.md
  apps/docs/src/content/docs/guides/example.md
  apps/docs/src/content/docs/guides/migration.md
  apps/docs/src/content/docs/reference/example.md
  migration/SKILL.md
Due: format

fix(core): escape TOML strings when generating capability.toml
  .changeset/humble-pots-check.md
  packages/core/src/capability/sources.ts
  packages/core/src/templates/capability.ts
Due: typecheck, lint, format

fix(core): support programmatic exports from default export
  .changeset/bright-skills-load.md
  apps/docs/src/content/docs/capabilities/skills.md
  packages/core/src/capability/loader.ts
Due: typecheck, lint, format

chore(version): minor bump
  .changeset/honest-kiwis-grow.md
Due: format

fix(core): merge file-based and programmatic capability exports
  packages/cli/package.json
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
Due: typecheck, lint, format

feat: more selective codebase wrapping
  packages/core/src/capability/sources.ts
Due: typecheck, lint, format

feat: add provider-scoped OMNI support
  .changeset/tough-poets-hang.md
  apps/docs/src/content/docs/configuration/omni-md.md
  migration/SKILL.md
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/codex/index.ts
  packages/adapters/src/cursor/index.ts
  packages/adapters/src/opencode/index.ts
  packages/adapters/src/provider-bundle.ts
  packages/adapters/src/writers/generic/executor.ts
  packages/adapters/src/writers/generic/instructions-md.test.ts
  packages/adapters/src/writers/generic/instructions-md.ts
  packages/adapters/src/writers/generic/omni-md.ts
  packages/adapters/src/writers/generic/types.ts
  packages/core/src/config/parser.test.ts
  packages/core/src/config/parser.ts
  packages/core/src/index.ts
  packages/core/src/providers.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

feat: add capability-local MCP env interpolation
  .changeset/wild-mice-unite.md
  apps/docs/src/content/docs/capabilities/mcp-servers.md
  apps/docs/src/content/docs/commands/capability-new.md
  examples/mcp.toml
  packages/capability/src/cli/commands/new.test.ts
  packages/capability/src/cli/commands/new.ts
  packages/cli/src/commands/capability-new.test.ts
  packages/cli/src/commands/capability.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/capability/mcp-env.ts
Due: typecheck, lint, format

fix: repair changeset frontmatter
  .changeset/tough-poets-hang.md
  .changeset/wild-mice-unite.md
Due: format

test: stabilize cwd-dependent suites
  packages/core/src/capability/loader.test.ts
  packages/core/src/test-utils/helpers.ts
Due: typecheck, lint, format

test: lock cwd-mutating suites
  packages/adapters/src/sync.test.ts
  packages/adapters/src/writers/claude/agents.test.ts
  packages/adapters/src/writers/codex/toml.test.ts
  packages/adapters/src/writers/cursor/agents.test.ts
  packages/adapters/src/writers/cursor/commands.test.ts
  packages/adapters/src/writers/cursor/mcp-json.test.ts
  packages/adapters/src/writers/cursor/rules.test.ts
  packages/adapters/src/writers/generic/executor.test.ts
  packages/adapters/src/writers/generic/hooks.test.ts
  packages/adapters/src/writers/generic/instructions-md.test.ts
  packages/adapters/src/writers/generic/skills.test.ts
  packages/adapters/src/writers/opencode/agents.test.ts
  packages/adapters/src/writers/opencode/commands.test.ts
  packages/capability/src/cli/commands/new.test.ts
  packages/cli/src/commands/provider.test.ts
  packages/core/src/config/toml-patcher.test.ts
  packages/core/src/state/providers.test.ts
Due: typecheck, lint, format

test: fix setupTestDir cwd lock race
  packages/core/src/test-utils/helpers.ts
Due: typecheck, lint, format

test: remove global adapter mock
  packages/cli/src/commands/add.test.ts
Due: typecheck, lint, format

feat(security): detect hidden commands and network requests in capabilities
  packages/cli/src/commands/security.ts
  packages/core/src/security/index.ts
  packages/core/src/security/scanner.test.ts
  packages/core/src/security/scanner.ts
  packages/core/src/security/types.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

fix: make capability sync npm-only
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/capability/CHANGELOG.md
  packages/capability/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/doctor.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/sync.test.ts
  packages/core/src/sync.ts
  tests/integration/cases/08-security.sh
  tests/integration/docker/Dockerfile.bun
Due: typecheck, lint, format

chore: add changeset for npm-only capability sync
  .changeset/flat-ants-explain.md
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/capability/CHANGELOG.md
  packages/capability/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: lint, format

feat: add capability skill env interpolation
  .changeset/nasty-kiwis-fix.md
  README.md
  TODO.md
  apps/docs/src/content/docs/advanced/creating-capabilities.md
  apps/docs/src/content/docs/capabilities/mcp-servers.md
  apps/docs/src/content/docs/capabilities/skills.md
  apps/docs/src/content/docs/commands/capability-new.md
  packages/core/src/capability/env.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/capability/mcp-env.ts
  packages/core/src/capability/skills.test.ts
  packages/core/src/capability/skills.ts
Due: typecheck, lint, format

chore: update docs
  .gitignore
  OMNI.md
Due: format

feat(core): track managed provider outputs for stale cleanup
  .changeset/flat-houses-sneeze.md
  apps/docs/src/content/docs/commands/sync.md
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/codex/index.ts
  packages/adapters/src/cursor/index.ts
  packages/adapters/src/opencode/index.ts
  packages/adapters/src/sync.ts
  packages/adapters/src/writers/claude/agents.test.ts
  packages/adapters/src/writers/claude/agents.ts
  packages/adapters/src/writers/codex/toml.test.ts
  packages/adapters/src/writers/codex/toml.ts
  packages/adapters/src/writers/cursor/agents.ts
  packages/adapters/src/writers/cursor/commands.test.ts
  packages/adapters/src/writers/cursor/commands.ts
  packages/adapters/src/writers/cursor/mcp-json.test.ts
  packages/adapters/src/writers/cursor/mcp-json.ts
  packages/adapters/src/writers/cursor/rules.test.ts
  packages/adapters/src/writers/cursor/rules.ts
  packages/adapters/src/writers/generic/commands-as-skills.ts
  packages/adapters/src/writers/generic/executor.test.ts
  packages/adapters/src/writers/generic/executor.ts
  packages/adapters/src/writers/generic/hooks.test.ts
  packages/adapters/src/writers/generic/hooks.ts
  packages/adapters/src/writers/generic/index.ts
  packages/adapters/src/writers/generic/instructions-md.test.ts
  packages/adapters/src/writers/generic/instructions-md.ts
  packages/adapters/src/writers/generic/managed-outputs.ts
  packages/adapters/src/writers/generic/skills.test.ts
  packages/adapters/src/writers/generic/skills.ts
  packages/adapters/src/writers/generic/types.ts
  packages/adapters/src/writers/opencode/agents.ts
  packages/adapters/src/writers/opencode/commands.test.ts
  packages/adapters/src/writers/opencode/commands.ts
  packages/core/src/state/manifest.test.ts
  packages/core/src/state/manifest.ts
  packages/core/src/sync.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

feat(sync): warn on generated provider files and copy skill references
  .changeset/tall-rabbits-remind.md
  apps/docs/src/content/docs/commands/provider.md
  apps/docs/src/content/docs/configuration/config-files.md
  apps/docs/src/content/docs/configuration/omni-md.md
  packages/adapters/src/writers/generic/instructions-md.test.ts
  packages/adapters/src/writers/generic/instructions-md.ts
  packages/adapters/src/writers/generic/skills.test.ts
  packages/adapters/src/writers/generic/skills.ts
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/provider.test.ts
  packages/cli/src/commands/provider.ts
  packages/core/src/capability/skills.test.ts
  packages/core/src/capability/skills.ts
  packages/core/src/templates/agents.test.ts
  packages/core/src/templates/agents.ts
  packages/core/src/templates/claude.test.ts
  packages/core/src/templates/claude.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

chore: update docs
  OMNI.md
Due: format

chore: add changeset for managed sync cleanup
  .changeset/happy-pigs-relax.md
Due: format

feat: add Codex subagent support with neutral agent manifests
  .changeset/five-geese-switch.md
  DEPRECATIONS.md
  README.md
  apps/docs/src/content/docs/advanced/creating-capabilities.md
  apps/docs/src/content/docs/capabilities/overview.md
  apps/docs/src/content/docs/capabilities/subagents.md
  examples/examples.test.ts
  examples/fixtures/standard/subagents/code-reviewer/agent.toml
  examples/fixtures/standard/subagents/code-reviewer/prompt.md
  packages/adapters/src/codex/index.ts
  packages/adapters/src/writers/claude/agents.ts
  packages/adapters/src/writers/codex/agents.test.ts
  packages/adapters/src/writers/codex/agents.ts
  packages/adapters/src/writers/codex/index.ts
  packages/adapters/src/writers/cursor/agents.ts
  packages/adapters/src/writers/opencode/agents.ts
  packages/capability/src/types/exports.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/capability/sources.test.ts
  packages/core/src/capability/sources.ts
  packages/core/src/capability/subagents.test.ts
  packages/core/src/capability/subagents.ts
  packages/core/src/types/capability-export.ts
  packages/core/src/types/index.ts
  tests/integration/cases/10-agents-commands.sh
Due: typecheck, lint, format

feat: add Codex hooks support
  .changeset/codex-hooks-support.md
  README.md
  apps/docs/astro.config.mjs
  apps/docs/src/content/docs/advanced/hooks.md
  apps/docs/src/content/docs/capabilities/overview.md
  apps/docs/src/content/docs/commands/add.md
  examples/examples.test.ts
  examples/fixtures/shared-hooks/capability.toml
  examples/fixtures/shared-hooks/hooks/hooks.toml
  packages/adapters/src/codex/index.ts
  packages/adapters/src/provider-bundle.ts
  packages/adapters/src/writers/codex/hooks.test.ts
  packages/adapters/src/writers/codex/hooks.ts
  packages/adapters/src/writers/codex/index.ts
  packages/adapters/src/writers/codex/toml.test.ts
  packages/adapters/src/writers/codex/toml.ts
  packages/adapters/src/writers/generic/hooks.test.ts
  packages/adapters/src/writers/generic/hooks.ts
  packages/cli/src/commands/add.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/loader.test.ts
  packages/core/src/hooks/loader.ts
  packages/core/src/hooks/provider-config.test.ts
  packages/core/src/hooks/provider-config.ts
  packages/core/src/hooks/types.ts
  packages/core/src/hooks/variables.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

feat: changelog
  CHANGELOG.md
Due: format

fix: claude hooks
  .changeset/claude-native-hook-events.md
  apps/docs/src/content/docs/advanced/hooks.md
  packages/adapters/src/writers/generic/hooks.test.ts
  packages/core/src/hooks/constants.test.ts
  packages/core/src/hooks/constants.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/loader.test.ts
  packages/core/src/hooks/loader.ts
  packages/core/src/hooks/provider-config.test.ts
  packages/core/src/hooks/provider-config.ts
  packages/core/src/hooks/types.test.ts
  packages/core/src/hooks/types.ts
  packages/core/src/hooks/validation.test.ts
  packages/core/src/hooks/validation.ts
  packages/core/src/hooks/variables.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

fix: validate git repo integrity before running destructive sync commands
  .changeset/fix-git-repo-validation.md
  packages/core/src/capability/sources.test.ts
  packages/core/src/capability/sources.ts
Due: typecheck, lint, format

fix(core): use absolute capability paths for Claude hooks
  .changeset/breezy-sites-admire.md
  examples/examples.test.ts
  packages/adapters/src/writers/generic/hooks.test.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
Due: typecheck, lint, format

fix(cli): load absolute capability paths
  .changeset/modern-singers-tickle.md
  packages/cli/src/lib/dynamic-app.test.ts
  packages/cli/src/lib/dynamic-app.ts
Due: typecheck, lint, format

fix(codex): enable hooks feature flag
  .changeset/calm-codex-hooks.md
  CHANGELOG.md
  README.md
  apps/docs/src/content/docs/advanced/hooks.md
  examples/examples.test.ts
  packages/adapters/src/writers/codex/toml.test.ts
  packages/adapters/src/writers/codex/toml.ts
  packages/cli/CHANGELOG.md
Due: typecheck, lint, format

feat: support named capability mcps
  .changeset/named-capability-mcps.md
  apps/docs/src/content/docs/capabilities/mcp-servers.md
  apps/docs/src/content/docs/guides/migration.md
  packages/adapters/src/writers/codex/toml.test.ts
  packages/adapters/src/writers/codex/toml.ts
  packages/adapters/src/writers/cursor/mcp-json.test.ts
  packages/adapters/src/writers/cursor/mcp-json.ts
  packages/core/src/capability/index.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/mcp-env.ts
  packages/core/src/capability/mcps.ts
  packages/core/src/mcp-json/manager.test.ts
  packages/core/src/mcp-json/manager.ts
  packages/core/src/state/manifest.test.ts
  packages/core/src/state/manifest.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

fix: align provider outputs and skill frontmatter
  .changeset/breezy-sites-admire.md
  .changeset/calm-codex-hooks.md
  .changeset/claude-native-hook-events.md
  .changeset/fix-git-repo-validation.md
  .changeset/modern-singers-tickle.md
  .changeset/named-capability-mcps.md
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/codex/index.ts
  packages/adapters/src/cursor/index.ts
  packages/adapters/src/index.ts
  packages/adapters/src/opencode/index.ts
  packages/adapters/src/registry.test.ts
  packages/adapters/src/registry.ts
  packages/adapters/src/types.ts
  packages/adapters/src/writers/generic/commands-as-skills.test.ts
  packages/adapters/src/writers/generic/commands-as-skills.ts
  packages/adapters/src/writers/generic/skills.test.ts
  packages/adapters/src/writers/generic/skills.ts
  packages/adapters/src/writers/generic/yaml-frontmatter.ts
  packages/capability/CHANGELOG.md
  packages/capability/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/provider.test.ts
  packages/cli/src/prompts/provider.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/mcp-json/manager.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format
