Repository frmlabz/omnidev: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun run lint
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bun run format:check

feat: US-010 - Configure VSCode/Cursor integration
  .vscode/extensions.json
  .vscode/settings.json
Due: lint, format

feat: US-017 - Implement config loader
  packages/core/src/config/index.ts
  packages/core/src/config/loader.test.ts
  packages/core/src/config/loader.ts
Due: typecheck, lint, format

feat: US-020 - Implement capability discovery
  packages/core/src/capability/index.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/index.ts
Due: typecheck, lint, format

feat: US-021 - Implement capability config loading
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
Due: typecheck, lint, format

feat: US-022 - Implement skills loading
  packages/core/src/capability/index.ts
  packages/core/src/capability/skills.test.ts
  packages/core/src/capability/skills.ts
Due: typecheck, lint, format

chore: Update progress log and mark US-026 as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-027 - Implement omnidev doctor command
  packages/cli/src/app.ts
  packages/cli/src/commands/doctor.test.ts
  packages/cli/src/commands/doctor.ts
Due: typecheck, lint, format

chore: Update progress log and mark US-027 as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-028 - Implement capability list command
  packages/cli/src/app.ts
  packages/cli/src/commands/capability.test.ts
  packages/cli/src/commands/capability.ts
Due: typecheck, lint, format

feat: US-030 - Implement agents sync command
  packages/cli/src/app.ts
  packages/cli/src/commands/agents.test.ts
  packages/cli/src/commands/agents.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: typecheck, lint, format

feat: US-031 - Implement types generate command
  packages/cli/src/app.ts
  packages/cli/src/commands/types.test.ts
  packages/cli/src/commands/types.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: typecheck, lint, format

feat: US-032 - Set up MCP server framework
  bun.lock
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: typecheck, lint, format

feat: US-035 - Implement omni_execute tool
  packages/mcp/src/server.ts
  packages/mcp/src/tools/execute.test.ts
  packages/mcp/src/tools/execute.ts
Due: typecheck, lint, format

feat: US-036 - Implement hot reload and lifecycle
  packages/mcp/src/server.ts
  packages/mcp/src/watcher.test.ts
  packages/mcp/src/watcher.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: typecheck, lint, format

chore: Update progress log and mark US-036 as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-037 - Implement serve command
  packages/cli/src/app.ts
  packages/cli/src/commands/serve.test.ts
  packages/cli/src/commands/serve.ts
Due: typecheck, lint, format

chore: Update progress log and mark US-038 as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-039 - Implement Ralph state management
  capabilities/ralph/index.ts
  capabilities/ralph/state.test.ts
  capabilities/ralph/state.ts
Due: typecheck, lint, format

feat: US-042 - Implement Ralph CLI commands (management)
  packages/cli/src/commands/ralph.test.ts
  packages/cli/src/commands/ralph.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: typecheck, lint, format

feat: US-051 - Provider Selection During Init
  README.md
  bun.lock
  docs/example-basic.md
  docs/mvp.md
  docs/product.md
  docs/ralph-capability.md
  package.json
  packages/cli/package.json
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/cli/src/prompts/provider.ts
  packages/core/src/config/index.ts
  packages/core/src/config/provider.test.ts
  packages/core/src/config/provider.ts
  packages/core/src/types/index.test.ts
  packages/core/src/types/index.ts
  readme.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/tasks/prd-001-bun-monorepo-setup.md
  scripts/ralph/tasks/prd-002-code-quality-infrastructure.md
  scripts/ralph/tasks/prd-003-testing-infrastructure.md
  scripts/ralph/tasks/prd-004-core-types-and-config.md
  scripts/ralph/tasks/prd-005-capability-system.md
  scripts/ralph/tasks/prd-006-cli-package.md
  scripts/ralph/tasks/prd-007-mcp-server.md
  scripts/ralph/tasks/prd-008-tasks-capability.md
  scripts/ralph/tasks/prd-009-ralph-capability.md
  scripts/ralph/tasks/prd-010-provider-aware-init.md
  scripts/ralph/tasks/prd-011-config-restructure.md
  scripts/ralph/tasks/prd-012-directory-structure-docs.md
Due: typecheck, lint, format

chore: Update PRD and progress for US-051
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-052 - Provider-Specific File Generation
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/core/src/index.ts
  packages/core/src/templates/agents.test.ts
  packages/core/src/templates/agents.ts
  packages/core/src/templates/claude.test.ts
  packages/core/src/templates/claude.ts
Due: typecheck, lint, format

feat: US-053 - Single .omni Folder with Internal Gitignore
  packages/cli/src/commands/agents.test.ts
  packages/cli/src/commands/capability.test.ts
  packages/cli/src/commands/doctor.test.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/profile.test.ts
  packages/cli/src/commands/profile.ts
  packages/cli/src/commands/serve.test.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/types.test.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/capability/registry.test.ts
  packages/core/src/config/loader.test.ts
  packages/core/src/config/loader.ts
  packages/mcp/src/watcher.test.ts
  packages/mcp/src/watcher.ts
Due: typecheck, lint, format

chore: Update PRD and progress for US-055
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-056 - Capability Gitignore Export
  packages/cli/src/commands/agents.ts
  packages/core/src/capability/loader.ts
  packages/core/src/config/capabilities.ts
  packages/core/src/gitignore/manager.test.ts
  packages/core/src/gitignore/manager.ts
  packages/core/src/index.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

chore: Update PRD and progress for US-058
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, format

feat: US-057 - Profile Management
  packages/cli/src/commands/profile.test.ts
  packages/cli/src/commands/profile.ts
Due: typecheck, lint, format

feat: US-060 - Directory Structure Documentation
  README.md
  packages/cli/src/commands/doctor.test.ts
  packages/cli/src/commands/doctor.ts
Due: typecheck, lint, format

feat: US-059 - Migration from Old Structure
  packages/cli/src/commands/init.ts
  packages/core/src/config/index.ts
  packages/core/src/config/migration.test.ts
  packages/core/src/config/migration.ts
Due: typecheck, lint, format

always enabled and comment policy
  capabilities/comment-policy/capability.toml
  capabilities/comment-policy/rules/policy.md
  packages/cli/src/commands/profile.ts
  packages/cli/src/commands/sync.ts
  packages/core/src/config/capabilities.ts
  packages/core/src/sync.ts
  packages/mcp/src/tools/execute.ts
  packages/mcp/src/tools/query.test.ts
  packages/mcp/src/tools/query.ts
Due: typecheck, lint, format

added tasks
  bun.lock
  capabilities/ralph/package.json
  capabilities/tasks/capability.toml
  capabilities/tasks/cli.ts
  capabilities/tasks/index.ts
  capabilities/tasks/operations.ts
  capabilities/tasks/package.json
  capabilities/tasks/storage.ts
  capabilities/tasks/sync.ts
  capabilities/tasks/types.ts
  packages/cli/src/lib/dynamic-app.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format

versioning and wrapped capabilities
  capabilities/resolve-pr-comments/capability.toml
  capabilities/ui-design/skills/capability.toml
  capabilities/ui-skills/capability.toml
  capabilities/ui-skills/commands/fix-issue/COMMAND.md
  capabilities/ui-skills/commands/review-pr/COMMAND.md
  capabilities/ui-skills/commands/run-tests/COMMAND.md
  capabilities/ui-skills/index.ts
  capabilities/ui-skills/subagents/code-reviewer/SUBAGENT.md
  capabilities/ui-skills/subagents/db-reader/SUBAGENT.md
  capabilities/ui-skills/subagents/test-runner/SUBAGENT.md
  docs/product.md
  packages/core/src/capability/index.ts
  packages/core/src/capability/sources.test.ts
  packages/core/src/capability/sources.ts
  packages/core/src/config/loader.ts
  packages/core/src/sync.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

sync properly updates files
  AGENTS.md
  capabilities/ralph/AGENTS.md
  capabilities/tasks/AGENTS.md
  packages/cli/src/commands/AGENTS.md
  packages/core/src/capability/AGENTS.md
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/config/AGENTS.md
  packages/core/src/index.ts
  packages/core/src/state/index.ts
  packages/core/src/state/manifest.test.ts
  packages/core/src/state/manifest.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format

update readme, fix ralph
  README.md
  capabilities/ralph/README.md
  capabilities/ralph/orchestrator.ts
  capabilities/ralph/types.d.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/execute.test.ts
  packages/mcp/src/tools/execute.ts
Due: typecheck, lint, format

move state dir
  capabilities/ralph/AGENTS.md
  capabilities/ralph/README.md
  capabilities/ralph/cli.ts
  capabilities/ralph/definition.md
  capabilities/ralph/orchestrator.test.ts
  capabilities/ralph/orchestrator.ts
  capabilities/ralph/prompt.test.ts
  capabilities/ralph/prompt.ts
  capabilities/ralph/rules/iteration-workflow.md
  capabilities/ralph/rules/prd-structure.md
  capabilities/ralph/skills/prd-creation/SKILL.md
  capabilities/ralph/skills/ralph-orchestration/SKILL.md
  capabilities/ralph/state.test.ts
  capabilities/ralph/state.ts
  capabilities/ralph/sync.test.ts
  capabilities/ralph/sync.ts
  capabilities/tasks/AGENTS.md
  capabilities/tasks/storage.ts
  capabilities/tasks/sync.ts
  capabilities/ui-design/capability.toml
  docs/product.md
  docs/ralph-capability.md
Due: typecheck, lint, format

improve ralph
  capabilities/ralph/AGENTS.md
  capabilities/ralph/README.md
  capabilities/ralph/cli.ts
  capabilities/ralph/orchestrator.test.ts
  capabilities/ralph/prompt.test.ts
  capabilities/ralph/prompt.ts
  capabilities/ralph/rules/iteration-workflow.md
  capabilities/ralph/rules/prd-structure.md
  capabilities/ralph/skills/prd-creation/SKILL.md
  capabilities/ralph/skills/ralph-orchestration/SKILL.md
  capabilities/ralph/state.test.ts
  capabilities/ralph/state.ts
  capabilities/ralph/types.d.ts
Due: typecheck, lint, format

change config location and update readme's
  CONTRIBUTING.md
  README.md
  packages/cli/src/commands/capability.test.ts
  packages/cli/src/commands/doctor.test.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/profile.test.ts
  packages/cli/src/commands/profile.ts
  packages/cli/src/commands/serve.test.ts
  packages/core/src/capability/registry.test.ts
  packages/core/src/capability/sources.test.ts
  packages/core/src/capability/sources.ts
  packages/core/src/config/loader.test.ts
  packages/core/src/config/loader.ts
  packages/core/src/config/profiles.test.ts
  packages/core/src/types/index.ts
  packages/mcp/src/watcher.test.ts
Due: typecheck, lint, format

file cleanup and md updates
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/example-basic.md
  docs/product.md
  docs/ralph-capability.md
  flake.nix
  scripts/dev/check.sh
  scripts/dev/db_isready.sh
  scripts/worktree/check-env-changes.sh
  scripts/worktree/cleanup.sh
  scripts/worktree/setup.sh
Due: format

add examples and new capabilities
  .gitignore
  capabilities/testing-guide/capability.toml
  capabilities/testing-guide/skills/testing-guide.md
  examples/README.md
  examples/basic.toml
  examples/comprehensive.toml
  examples/github-sources.toml
  examples/local-dev.toml
  examples/mcp-wrapping.toml
  examples/profiles.toml
Due: format
