Repository frmlabz/omnidev: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: bun run typecheck

lint:
  run: bun run lint

format:
  run: bun run format:check

improve init command instructions
  packages/cli/src/commands/doctor.test.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/core/src/config/capabilities.ts
  packages/core/src/gitignore/manager.test.ts
  packages/core/src/gitignore/manager.ts
  packages/core/src/index.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format

release 0.4
  .changeset/config.json
  .changeset/spicy-pumas-show.md
  .github/workflows/release.yml
  README.md
  bun.lock
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsdown.config.ts
  packages/core/package.json
  packages/core/tsdown.config.ts
  scripts/prepare-publish.ts
Due: typecheck, lint, format

fix exports
  package.json
  packages/core/package.json
Due: lint, format

fix noExternal
  .github/workflows/ci.yml
  packages/cli/bunup.config.ts
Due: typecheck, lint, format

(patch): minor bump
  .changeset/happy-terms-pay.md
Due: format

update integration tests
  tests/integration/docker/Dockerfile.node
  tests/integration/inside/run.js
  tests/integration/run.sh
Due: lint, format

add ci safety guard
  .changeset/fifty-breads-work.md
  .github/workflows/ci.yml
  packages/cli/src/lib/dynamic-app.ts
  scripts/publish.mjs
Due: typecheck, lint, format

hacky
  packages/core/package.json
  scripts/publish.mjs
Due: lint, format

fix ci
  scripts/publish.mjs
Due: none

add OMNI.md functionality
  .changeset/tall-spoons-type.md
  README.md
  package.json
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/codex/index.ts
  packages/adapters/src/opencode/index.ts
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/prompts/provider.ts
  packages/core/src/config/loader.ts
  packages/core/src/index.ts
  packages/core/src/templates/omni.ts
  tests/integration/cases/07-full-workflow.sh
  tests/integration/inside/helpers.sh
Due: typecheck, lint, format

update readme
  README.md
  docs/img/config-sprawl.png
Due: format

folder renaming when wrapping
  .changeset/ready-numbers-retire.md
  .github/workflows/release.yml
  packages/core/src/capability/sources.ts
  packages/core/src/capability/wrapping-integration.test.ts
Due: typecheck, lint, format

(feat): add groups
  apps/docs/src/content/docs/configuration/capabilities.md
  packages/core/src/config/capabilities.ts
  packages/core/src/config/config.test.ts
  packages/core/src/config/config.ts
  packages/core/src/config/index.ts
  packages/core/src/config/profiles.test.ts
  packages/core/src/config/profiles.ts
  packages/core/src/sync.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

(feat): add hooks
  apps/docs/src/content/docs/advanced/hooks.md
  apps/docs/src/content/docs/capabilities/overview.md
  apps/docs/src/content/docs/capabilities/structure.md
  packages/adapters/src/claude-code/index.ts
  packages/core/package.json
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/capability/registry.ts
  packages/core/src/hooks/constants.test.ts
  packages/core/src/hooks/constants.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/loader.test.ts
  packages/core/src/hooks/loader.ts
  packages/core/src/hooks/merger.test.ts
  packages/core/src/hooks/merger.ts
  packages/core/src/hooks/types.test.ts
  packages/core/src/hooks/types.ts
  packages/core/src/hooks/validation.test.ts
  packages/core/src/hooks/validation.ts
  packages/core/src/hooks/variables.test.ts
  packages/core/src/hooks/variables.ts
  packages/core/src/index.ts
  packages/core/src/sync.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

(feat): create new capability
  apps/docs/src/content/docs/commands/capability-management.md
  docs/providers-configurations.md
  packages/cli/src/commands/capability-new.test.ts
  packages/cli/src/commands/capability.ts
  packages/cli/src/prompts/capability.ts
  packages/core/src/index.ts
  packages/core/src/templates/capability.test.ts
  packages/core/src/templates/capability.ts
Due: typecheck, lint, format

(refactor): improve adapter setup
  apps/docs/src/content/docs/getting-started/index.md
  docs/provider-adapters.md
  examples/examples.test.ts
  packages/adapters/src/claude-code/index.ts
  packages/adapters/src/codex/index.ts
  packages/adapters/src/cursor/index.ts
  packages/adapters/src/index.ts
  packages/adapters/src/opencode/index.ts
  packages/adapters/src/sync.test.ts
  packages/adapters/src/sync.ts
  packages/adapters/src/writers/cursor-rules.test.ts
  packages/adapters/src/writers/cursor-rules.ts
  packages/adapters/src/writers/executor.test.ts
  packages/adapters/src/writers/executor.ts
  packages/adapters/src/writers/hooks.test.ts
  packages/adapters/src/writers/hooks.ts
  packages/adapters/src/writers/index.ts
  packages/adapters/src/writers/instructions-md.test.ts
  packages/adapters/src/writers/instructions-md.ts
  packages/adapters/src/writers/skills.test.ts
  packages/adapters/src/writers/skills.ts
  packages/adapters/src/writers/types.ts
Due: typecheck, lint, format

(feat): local capabilities
  README.md
  apps/docs/src/content/docs/commands/add.md
  apps/docs/src/content/docs/commands/capability-management.md
  apps/docs/src/content/docs/index.mdx
  packages/cli/src/commands/add.test.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/capability-new.test.ts
  packages/cli/src/commands/capability.ts
  packages/core/src/capability/index.ts
  packages/core/src/capability/sources.test.ts
  packages/core/src/capability/sources.ts
  packages/core/src/config/config.ts
  packages/core/src/config/toml-patcher.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

(feat): improve contributions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitmessage
  CONTRIBUTING.md
  capabilities/github/capability.toml
  capabilities/github/skills/gh-commit-pr.md
  packages/core/src/templates/capability.test.ts
Due: typecheck, lint, format

(docs): add icon
  apps/docs/astro.config.mjs
  apps/docs/public/favicon.png
  apps/docs/public/favicon.svg
  apps/docs/public/favicon/android-chrome-192x192.png
  apps/docs/public/favicon/android-chrome-512x512.png
  apps/docs/public/favicon/apple-touch-icon.png
  apps/docs/public/favicon/favicon-16x16.png
  apps/docs/public/favicon/favicon-32x32.png
  apps/docs/public/favicon/favicon.ico
  apps/docs/public/favicon/site.webmanifest
  apps/docs/public/logo.png
  apps/docs/src/components/Footer.astro
Due: none

(feat): remove env variables from omni.toml and team sync
  README.md
  apps/docs/src/content/docs/capabilities/mcp-servers.md
  examples/README.md
  examples/basic.toml
  examples/mcp.toml
  omni.toml
  packages/adapters/src/sync.ts
  packages/cli/src/commands/add.test.ts
  packages/cli/src/commands/init.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/capability/registry.test.ts
  packages/core/src/capability/registry.ts
  packages/core/src/config/AGENTS.md
  packages/core/src/config/config.test.ts
  packages/core/src/config/config.ts
  packages/core/src/config/env.test.ts
  packages/core/src/config/env.ts
  packages/core/src/config/index.ts
  packages/core/src/config/parser.test.ts
  packages/core/src/config/toml-patcher.test.ts
  packages/core/src/config/toml-patcher.ts
  packages/core/src/test-utils/mocks.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

refactor: simplify rules output format in CLAUDE.md
  apps/docs/src/content/docs/capabilities/rules.md
  examples/examples.test.ts
  packages/adapters/src/writers/instructions-md.test.ts
  packages/adapters/src/writers/instructions-md.ts
  packages/cli/src/commands/capability-new.test.ts
  packages/cli/src/commands/init.test.ts
  packages/core/src/sync.ts
  packages/core/src/templates/capability.test.ts
  packages/core/src/templates/capability.ts
  packages/core/src/templates/claude.test.ts
  packages/core/src/templates/claude.ts
Due: typecheck, lint, format

chore: add changeset
  .changeset/add-general-config-section.md
Due: format

remove agents.md
  packages/cli/src/commands/AGENTS.md
  packages/core/src/capability/AGENTS.md
  packages/core/src/config/AGENTS.md
Due: format

feat: add version update check on CLI startup
  packages/cli/src/index.ts
  packages/cli/src/lib/dynamic-app.ts
  packages/cli/src/lib/version-check.ts
Due: typecheck, lint, format

docs: add comprehensive omni.toml configuration reference
  apps/docs/src/content/docs/configuration/omni-toml-reference.md
  tests/integration/inside/helpers.sh
Due: format

update docs & readme
  README.md
  apps/docs/astro.config.mjs
  apps/docs/src/content/docs/advanced/best-practices.md
  apps/docs/src/content/docs/advanced/creating-capabilities.md
  apps/docs/src/content/docs/capabilities/capability-toml.md
  apps/docs/src/content/docs/capabilities/docs.md
  apps/docs/src/content/docs/capabilities/overview.md
  apps/docs/src/content/docs/capabilities/structure.md
  apps/docs/src/content/docs/capabilities/type-exports.md
  apps/docs/src/content/docs/commands/add.md
  apps/docs/src/content/docs/commands/capability-new.md
  apps/docs/src/content/docs/commands/capability.md
  apps/docs/src/content/docs/commands/core.md
  apps/docs/src/content/docs/commands/doctor.md
  apps/docs/src/content/docs/commands/init.md
  apps/docs/src/content/docs/commands/profile.md
  apps/docs/src/content/docs/commands/provider-management.md
  apps/docs/src/content/docs/commands/provider.md
  apps/docs/src/content/docs/commands/sync.md
  apps/docs/src/content/docs/configuration/capability-sources.md
  packages/cli/src/prompts/provider.ts
Due: typecheck, lint, format

fix: infer capability ID from --path when provided for GitHub sources
  packages/cli/src/commands/add.test.ts
  packages/cli/src/commands/add.ts
Due: typecheck, lint, format

feat: improve loader
  .changeset/cozy-eyes-drop.md
  packages/core/src/capability/loader.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format

feat: add --programmatic flag to capability new & fix CLI capability loading
  apps/docs/src/content/docs/commands/capability-new.md
  packages/cli/src/commands/capability-new.test.ts
  packages/cli/src/commands/capability.ts
  packages/cli/src/commands/profile.test.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/lib/dynamic-app.ts
  packages/core/src/capability/sources.ts
  packages/core/src/mcp-json/manager.test.ts
  packages/core/src/mcp-json/manager.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format

feat: improved issues handling
  apps/docs/src/content/docs/commands/security.md
  packages/cli/src/commands/security.ts
  packages/cli/src/lib/dynamic-app.ts
  packages/core/src/state/index.ts
  packages/core/src/state/security-allows.ts
  tests/integration/cases/08-security.sh
Due: typecheck, lint, format

fix: simplify sync command output
  packages/cli/src/commands/sync.ts
Due: typecheck, lint, format

feat: improve capability versioning system
  apps/docs/src/content/docs/commands/add.md
  apps/docs/src/content/docs/commands/capability.md
  apps/docs/src/content/docs/commands/sync.md
  apps/docs/src/content/docs/configuration/capability-sources.md
  apps/docs/src/content/docs/configuration/omni-toml-reference.md
  docs/versioning-summary.md
  docs/versioning.md
  examples/README.md
  examples/comprehensive.toml
  examples/github-sources.toml
  examples/profiles.toml
  packages/cli/src/commands/add.test.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/capability.ts
  packages/cli/src/commands/sync.ts
  packages/core/src/capability/index.ts
  packages/core/src/capability/sources.test.ts
  packages/core/src/capability/sources.ts
  packages/core/src/config/toml-patcher.test.ts
  packages/core/src/config/toml-patcher.ts
  packages/core/src/sync.ts
  packages/core/src/types/index.ts
Due: typecheck, lint, format

chore: move repo to organization
  .changeset/config.json
  .changeset/tiny-stars-jog.md
  README.md
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/content/docs/capabilities/cli-commands.md
  apps/docs/src/content/docs/commands/capability-new.md
  apps/docs/src/content/docs/index.mdx
  bun.lock
  examples/README.md
  examples/basic.toml
  examples/comprehensive.toml
  examples/examples.test.ts
  examples/github-sources.toml
  examples/profiles.toml
  packages/capability/bunup.config.ts
  packages/capability/package.json
  packages/capability/src/builders.ts
  packages/capability/src/cli/commands/build.ts
  packages/capability/src/cli/commands/new.test.ts
  packages/capability/src/cli/commands/new.ts
  packages/capability/src/cli/index.ts
  packages/capability/src/index.ts
  packages/capability/src/types/cli.ts
  packages/capability/src/types/exports.ts
  packages/capability/src/types/index.ts
  packages/capability/tsconfig.json
  packages/cli/bunup.config.ts
  packages/cli/src/commands/capability-new.test.ts
  packages/cli/src/commands/capability.ts
  packages/cli/src/lib/command-transformer.ts
  packages/cli/src/lib/dynamic-app.ts
  packages/core/src/index.ts
  tests/integration/cases/02-add-capability.sh
  tests/integration/cases/07-full-workflow.sh
  tests/integration/inside/helpers.sh
Due: typecheck, lint, format

fix: format
  renovate.json
Due: lint, format

fix: redeploy
  .changeset/frank-dancers-speak.md
Due: format

chore: release with fixes
  .changeset/chubby-maps-tell.md
  .changeset/frank-dancers-speak.md
  packages/capability/CHANGELOG.md
  packages/capability/bunup.config.ts
  packages/capability/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/bunup.config.ts
  packages/core/package.json
  scripts/publish.mjs
Due: typecheck, lint, format

fix: race condition in build
  package.json
  packages/core/package.json
Due: lint, format

fix: cli shebang issue when imported as ES module
  .changeset/brave-pens-march.md
  packages/capability/bin/capability.js
  packages/capability/package.json
  packages/capability/src/cli/index.ts
  packages/cli/src/commands/capability.test.ts
  packages/cli/src/commands/capability.ts
Due: typecheck, lint, format

feat: export debug func
  .changeset/spicy-sides-brush.md
  packages/capability/src/debug.ts
  packages/capability/src/index.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,json}
  format: any of: *.{ts,tsx,js,jsx,json,md}
